@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f5f1ee; 
}

div {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px; 
}
