@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f5f1ee; 
}

h2 {
	margin:15;
	text-align: center;
	color: #000000; 
}

select {
	width: 50px;
}

div {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px; 
}

table {
  width: 900px;
  height: 600px;
  margin: 30px auto;  
  padding: 30px;
  background-color: #ffffff; 
  border: none;
}

table th, table td {
  border: 1px solid #000000; 
  text-align: center;
  padding: 12px;
  
}

table th {
  background-color: #ffffff; 
  color: #7a4c6c; 
  font-weight: 600;
}

input, textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #000000; 
  border-radius: 6px;
  background-color: #ffffff; 
  font-size: 14px;
  color: #000000;
}

input:focus, textarea:focus {
  border-color: #ffffff; 
  outline: none;
}

textarea {
  height: 150px;
  resize: vertical;
}

.btn {
  width: 150px;
  padding: 12px;
  margin-top: 20px;
  background-color: #df3278; 
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ca296a; 
}

h3 {
  margin: 10px 0;
  color: #ffffff; 
  font-size: 26px;
  text-align: center;
}
