@charset "UTF-8";

/* 홈페이지 css */
main, nav, contents, footer {
   text-align: center;
}

header {
   border: 2px solid yellow;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}

header div:nth-child(1) {
  position: relative;
  right: 500px;
  
}   

#btnSearch {
   position: relative;
   left: 10px;
}


input {
   text-align: center;
     width: 250px; 
     height: 30px;
}


main {
   border: 2px solid blue;
   height: 1500px;
   width : 1300px;
   margin: 0 auto;
}



nav {
   background-color: #FFFACD;
   border:1px solid #EEE8AA;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
}

nav a {
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 25px;
   font-weight: 700;
   margin: 4em;
}

footer {
   border: 2px solid blue;
   height: 30px;
}

div > span> a,
div > a {
   color: black;
   text-decoration: none;
   font-weight : 500;
   margin: 2px;
}


/* 카테고리 css */

#cate {
   background-color : #FFFFF0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

#cate_list {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   text-align: left;
}

ul > li {
   margin-bottom: 3px; 
}

ul li:nth-child(1) {
   
   font-size: 25px;
     font-weight: 900;
}

ul li:nth-child(1) > a {
   color: black;
}

li > a {
   color: #696969;
}

/*쿠폰 css*/
#coupon_list {
   display: flex;
   flex-wrap: wrap;
}

#coupon {
   width: 650px;
   margin-bottom: 10px;
   margin-top: 10px;
}
